
.user-profile {
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 32px 24px;
  box-sizing: border-box;
  margin-top: 37px;
}

.user-profile__avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-profile__name {
  opacity: 0.8;
  font-size: 18px;
  letter-spacing: 0.15px;
  text-align: center;
  color: #262626;
  display: block;
  margin-top: 24px;
}

.user-profile__logout {
  min-width: 145px;
  margin-top: 40px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .user-profile__avatar {
    width: 128px;
    height: 128px;
  }

  .user-profile__name {
    font-size: 28px;
    margin-top: 40px;
  }

  .user-profile__logout {
    margin-top: 56px;
  }
}