
@font-face {
  font-family: "Gotham";
  font-weight: 900;
  src: url("../assets/fonts/GothamPro-Black/GothamPro-Black.woff2") format("woff2"),
    url("../assets/fonts/GothamPro-Black/GothamPro-Black.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: 500; 
  src: url("../assets/fonts/GothamPro-Medium/GothamPro-Medium.woff2") format("woff2"),
    url("../assets/fonts/GothamPro-Medium/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: bold;
  src: url("../assets/fonts/GothamPro-Bold/GothamPro-Bold.woff2") format("woff2"),
    url("../assets/fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff");
}

html {
  font-family: Gotham;

  min-height: 100%;
  background-color: #ed4159;
  background-image: url(../assets/images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100%;
}

.container {
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.container__logo {
  margin-top: 43px;
}

.container__login-form {
  margin-top: 37px;
}

@media screen and (min-width: 768px) {
  .container__logo {
    margin-top: 142px;
  }
  .app-container__body {
    padding: 48px;
    margin-top: 91px;
  }
}