
.login-form {
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 32px 24px;
  box-sizing: border-box;
}

.login-form__input-email {
  margin-top: 32px;
  width: 100%;
}

.login-form__input-password {
  margin-top: 24px;
  width: 100%;
}

@media screen and (min-width: 768px) {

  .login-form__input-email {
    margin-top: 48px;
  }

  .login-form__input-password {
    margin-top: 32px;
  }
}


.login-form__error {
  margin-top: 24px;
  border-radius: 4px;
  background-color: rgba(237, 65, 89, 0.25);
  font-size: 12px;
  font-weight: 500;
  color: #ed4159;
  padding: 14px;
}

.login-form__submit {
  width: max-content;
  min-width: 145px;
  margin-top: 40px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {

  .login-form__error {
    margin-top: 32px;
    font-size: 14px;
    padding: 14px 16px;
  }

  .login-form__submit {
    margin-top: 60px;
    margin-bottom: 12px;
  }
}